[flake8]
# Maximum line length
max-line-length = 90

# Exclude specific directories
exclude =
    .git,
    __pycache__,
    build,
    dist,
    lib

# Ignore specific errors and warnings
ignore =
    E203,
    E266,
    E501,
    W503